{{ define "base" }}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ with .Title }}{{ . }} - {{ end }}Random Episode</title>
    </head>
    <body>
        {{ template "content" . }}
    </body>
</html>
{{ end }}
