{{ template "base" . }}

{{ define "content" }}
<form method="get">
    <fieldset role="group">
        <input type="text" value="{{ with .Query }}{{ . }}{{ end }}" name="q">
        <input type="submit" value="Search">
    </fieldset>
</form>

{{ with .SearchResults }}
{{ range . }}
<form method="post" action="/shows">
    <fieldset role="group">
        <input type="hidden" value="{{ .ID }}" name="id">
        <input type="text" readonly value="{{ .Title }}">
        <input type="submit" value="Add">
    </fieldset>
</form>
{{ end }}
{{ end }}

{{ with .Shows }}
<ul>
    {{ range . }}
    <li><a href="/shows/{{ .ID }}">{{ .Title }}</a></li>
    {{ end }}
</ul>
{{ end }}
{{ end }}
