{{ template "base" . }}

{{ define "content" }}
<h1>{{ .Title }}</h1>

<section>
    <a role="button" href="/shows/{{ .ID }}/episode">Random Episode</a>
</section>

{{ with .Watched }}
<section>
    <h2>Previously watched</h2>
    <ul>
        {{ range . }}
        <li>{{ .Title }} (Season {{ .Season }}, Episode {{ .Episode }})</li>
        {{ end }}
    </ul>
    {{ end }}
</section>
{{ end }}
